[submodule "infrastructure"]
	path = infrastructure
	url = https://gitlab.com/lintol/buckram.git
[submodule "bedappy"]
	path = packages/flaxandteal/bedappy
	url = https://gitlab.com/lintol/bedappy.git
